<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= business.business_name %></title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="css/clean-blog.min.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/user">My Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link  active" href="/business"><u>Business</u></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/my_bids">My Bids</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/accepted_bids">Accepted bids</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/catering_requests">Catering requests</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/signout">Sign out</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/champagne.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1><%= business.business_name %></h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h3>Opening hours:</h3>
          <%= business.opening_time %> - <%= business.closing_time %>
          <br><br>
          <h3> Contact detail:</h3>
          Phone: <%= business.phone %><br>
          Email: <%= business.email %>
          <br><br>
          <h3> Address:</h3>
          <%= business.address %>
        </div>
        <div class="col-md-8">
          <h3>About This Business</h3>
          <%= business.business_description %>
          <br><br>
          <h3>Events Catered For</h3>
          <%= business.events_cater %>
          <br><br>
          <h3>Delivery Options</h3>
          <%= business.delivery_options %>
        </div>
       </div>
       <br><br><br>
       <% if (business.rate === 0.0) { %>
       <h3> Business has not been rated yet! </h3>
       <% } else { %>
       <h3> Overall ratings: <%= business.rate %></h3>
       <% } %>
       <% if (business.owner !== true) { %>
         <% if (rated === 0) { %>
           <div class="col-md-10">
             <h3>Rate Business</h3>
             <form method="post" action="/rate">
               <input type="radio" name="rate_star" id="rate_star" value="1">One Star<br>
               <input type="radio" name="rate_star" id="rate_star" value="2">Two Star<br>
               <input type="radio" name="rate_star" id="rate_star" value="3">Three Star<br>
               <input type="radio" name="rate_star" id="rate_star" value="4">Four Star<br>
               <input type="radio" name="rate_star" id="rate_star" value="5">Five Star<br>
               <input type="text" name="comment" id="comment" placeholder="Review">
               <button type="submit" name="business" id="business" value="<%= JSON.stringify(business) %>" class="btn btn-primary">Rate</button>
             </form>
           </div>
         <% } else { %>
           <p> You haved rated this business <%= rated %> star!</p>
         <% } %>
       <% } else { %>
        <div class="row">
           <div class="col-md-6 form-group">
              <form method="post" action="/edit_business">
                <button type="submit" id="business" name="business" value="<%= JSON.stringify(business) %>" class="btn btn-primary">Edit Business Info</button>
              </form>
           </div>
        </div>
       <% } %>
    </div>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p class="copyright text-muted">Copyright &copy; Your Website 2018</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/clean-blog.min.js"></script>

  </body>

</html>
