<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bid for <%= bid.event_name %></title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="css/clean-blog.min.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/user">My Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/business">Business</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/my_bids">My Bids</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/accepted_bids"><u>Accepted bids</u></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/catering_requests">Catering requests</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signout">Sign out</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/champagne.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Bid for <%= bid.event_name %></h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

          <h1> Event Information </h1>

          <br>

          <table class="table">
            <tbody>
              <tr>
                <th style="width: 50%" scope="row">Event name</th>
                <td><%= bid.event_name %></td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <th scope="row">Event date</th>
                <td><%= bid.event_date %></td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <th scope="row">Event time</th>
                <td><%= bid.event_time %></td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <th scope="row">Event deadline</th>
                <td><%= bid.event_deadline %></td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <th scope="row">Suburb</th>
                <td><%= bid.event_suburb %></td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <th scope="row">Type of event</th>
                <td><%= bid.event_type %></td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <th scope="row">Number of people</th>
                <td><%= bid.noPeople %></td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <th scope="row">Quality Level</th>
                <td><%= bid.qualityLevel %></td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <th scope="row">Budget</th>
                <td>$<%= bid.budget %></td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <th scope="row">Cook on province (1) <br> Bring prepared food (2)</th>
                <td><%= bid.choice %></td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <th scope="row">Additional Information</th>
                <td><%= bid.additional_info %></td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <th scope="row">My bid</th>
                <td>$<%= bid.amount %></td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <th scope="row">My comments</th>
                <td><%= bid.comment %></td>
              </tr>
            </tbody>
            <% if (bid.status === 1) { %>
              <tbody>
                <tr>
                  <th scope="row">My bid is still active</th>
                </tr>
              </tbody>
            <% } else if (bid.status === 0) { %>
              <tbody>
                <tr>
                  <th scope="row">My bid is inactive now</th>
                </tr>
              </tbody>
            <% } else if (bid.status === 2) { %>
              <tbody>
                <tr>
                  <th scope="row">Your bid is accepted!</th>
                </tr>
              </tbody>
            <% } %>
          </table>
          <% if (bid.status === 1) { %>
            <form method="post" action="/delete_bid">
                <button type="submit" id="bid_info" name="bid_info" value="<%= JSON.stringify(bid) %>" class="btn btn-primary">Remove Bid</button>
            </form>
            <form action="/edit_bid" method="post" onsubmit="return checkBid()">
              <div class="row">
                <div class="col-md-6 form-group">
                    <label for="name">Approximate Bidding Amount</label>
                    <input type="number" id="price" name="price" class="form-control " placeholder="$">
                  <br>
                  <div class="alert alert-warning" style="display:none" id="price_check">Please enter a whole number, or to two decimal places</div>
                    <label for="name">Additional Information</label>
                    <input type="text" id="additional_info" name="additional_info" class="form-control " value="<%= bid.comment %>">
                  <button type="submit" value="<%= JSON.stringify(bid) %>" id="bid_info" name="bid_info" class="btn btn-primary">Edit Bid</button>
                </div>
              </div>
            </form>
          <% } else if (bid.status === 0) { %>
            <form method="post" action="/delete_bid">
                <button type="submit" id="bid_info" name="bid_info" value="<%= JSON.stringify(bid) %>" class="btn btn-primary">Remove Bid</button>
            </form>
          <% } %>
        </div>
      </div>
    </div>

    <script>
    function checkBid() {
      var priceElem = document.getElementById("price");
      console.log(priceElem.value);
      var regex = new RegExp("^[1-9][0-9]{0,9}(\.[0-9]{2})?$");
      if (regex.test(priceElem.value)) {
        document.getElementById("price_check").style.display = "none";
        return true;
      }
      else {
        document.getElementById("price_check").style.display = "block";
        return false;
      }
      console.log(amount);
    } 
    </script>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p class="copyright text-muted">Copyright &copy; Your Website 2018</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/clean-blog.min.js"></script>

  </body>

</html>
