<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= request.event_name %></title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="css/clean-blog.min.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/business">Business Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/my_bids">My Bids</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/catering_requests">Catering requests</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Username
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/user">My Profile</a>
                <a class="dropdown-item"  href="/make_request">New Request</a>
                <a class="dropdown-item"  href="/requests">My Requests</a>
                <a class="dropdown-item"  href="/link_business">Link Business</a>
                <a class="dropdown-item"  href="/business">My Businesses</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signout">Sign out</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/champagne.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1><%= request.event_name %></h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

          <h1> Event Information </h1>

          <br>

          <table class="table">
            <tbody>
              <tr>
                <th style="width: 40%" scope="row">Event name</th>
                <td><%= request.event_name %></td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <th scope="row">Event date</th>
                <td><%= request.event_date %></td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <th scope="row">Event time</th>
                <td><%= request.event_start_time %></td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <th scope="row">Event time</th>
                <td><%= request.event_end_time %></td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <th scope="row">Event deadline</th>
                <td><%= request.event_deadline %></td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <th scope="row">Suburb</th>
                <td><%= request.event_suburb %></td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <th scope="row">Type of event</th>
                <td><%= request.event_type %></td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <th scope="row">Number of people</th>
                <td><%= request.noPeople %></td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <th scope="row">Budget</th>
                <td>$<%= request.budget %></td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <th scope="row">Food Preparation</th>
                <td><%= request.choice %></td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <th scope="row">Additional Information</th>
                <td><%= request.additional_info %></td>
              </tr>
            </tbody>
          </table>

          <form action="/bidding" method="post" onsubmit="return checkBid()">
            <div class="row">
              <div class="col-md-6 form-group">
                <br>
                  <label for="name">Approximate Bidding Amount</label>
                  <input type="number" id="price" name="price" class="form-control " placeholder="$">
                <br>
                <div class="alert alert-warning" style="display:none" id="price_check">Please enter a positive whole number, or to two decimal places</div>
                  <label for="name">Additional Information</label>
                  <input type="text" id="additional_info" name="additional_info" class="form-control ">
                  <br>
                <button type="submit" value="<%= request.event_name %>" id="event_name" name="event_name" class="btn btn-primary">Bid Request</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

	<script>
	function checkBid() {
		var priceElem = document.getElementById("price");
		console.log(priceElem.value);
		var regex = new RegExp("^[1-9][0-9]{0,9}(\.[0-9]{2})?$");
		if (regex.test(priceElem.value)) {
			document.getElementById("price_check").style.display = "none";
			return true;
		}
		else {
			document.getElementById("price_check").style.display = "block";
			return false;
		}
		console.log(amount);
	}
	</script>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p class="copyright text-muted">Copyright &copy; Your Website 2018</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/clean-blog.min.js"></script>

  </body>

</html>
