<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bid for <%= bid.event_name %></title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="css/clean-blog.min.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/user">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/my_bids">My Bids</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/accepted_bids">Accepted bids</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/catering_requests">Catering requests</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signout">Sign out</a>
            </li>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/champagne.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Bid for <%= bid.event_name %></h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p> Event name  =  <%= bid.event_name %> </p>
          <p> Event date = <%= bid.event_date %> </p>
          <p> Event time = <%= bid.event_time %> </p>
          <p> Event deadline = <%= bid.event_deadline %> </p>
          <p> Suburb event is going to be held in = <%= bid.event_suburb %> </p>
          <p> Type of event = <%= bid.event_type %> </p>
          <p> Number of people = <%= bid.noPeople %> </p>
          <p> Quality Level = <%= bid.qualityLevel %> </p>
          <p> Budget = $<%= bid.budget %> </p>
          <p> Cook on province(1) or Bring prepared food = <%= bid.choice %> </p>
          <p> Additional Information = <%= bid.additional_info %> </p>
          <p> My bid: $<%= bid.amount %> </p>
          <p> My comments: <%= bid.comment %> </p>
          <% if (bid.status === 1) { %>
          <p> My bid is still active </p>
          <% } else if (bid.status === 0) { %>
          <p> My bid is inactive now </p>
            <div class="col-md-6 form-group">
              <form method="post" action="/delete_bid">
                <button type="submit" id="bid_info" name="bid_info" value="<%= JSON.stringify(bid) %>" class="btn btn-primary">Delete Bid</button>
              </form>
            </div>
          <% } else if (bid.status === 2) { %>
            <p> Your bid is accepted! </p>
          <% } %>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p class="copyright text-muted">Copyright &copy; Your Website 2018</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/clean-blog.min.js"></script>

  </body>

</html>
