<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Link Your Business</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="css/clean-blog.min.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user">My Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/make_request">New Request</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/requests">My Requests</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/link_business"><u>Link Business</u></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/business">My Businesses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signout">Sign out</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/champagne.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Link a Business</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
        <h3 class="mb-5">Business Form.</h3>
        <form action="/link_business_submit" method="post" onsubmit="return checkValid()">
              <div class="row">
                <div class="col-md-12 form-group">
                  <label for="name">Business name</label>
                  <input type="text" id="business_name" name="business_name" class="form-control" data-pattern="^.{1,255}$" onchange="checkPattern(this)" maxLength=255>
                </div>
              </div>
                <div class="alert alert-warning" style="display:none" id="business_name_check">Please enter a name.</div>
              <div class="row">
                <div class="col-md-12 form-group">
                  <label for="name">Opening time (if applicable)</label>
                  <input type="text" id="opening_time" name="opening_time" class="form-control" data-pattern="^([0-9]|(0|1)[0-9]|2[0-3]):[0-5][0-9]$" placeholder="HH:MM" title="HH:MM - use 24 hour time" onchange="checkTimes()">
                </div>
              </div>
                <div class="alert alert-warning" style="display:none" id="opening_time_check">Invalid opening time - use 24 hour time (HH:MM)</div>
              <div class="row">
                <div class="col-md-12 form-group">
                  <label for="name">Closing time (if applicable)</label>
                  <input type="text" id="closing_time" name="closing_time" class="form-control" data-pattern="^([0-9]|(0|1)[0-9]|2[0-3]):[0-5][0-9]$" placeholder="HH:MM" title="HH:MM - use 24 hour time" onchange="checkTimes()">
                </div>
              </div>
                <div class="alert alert-warning" style="display:none" id="closing_time_check">Invalid closing time - use 24 hour time (HH:MM)</div>
                <div class="alert alert-warning" style="display:none" id="valid_time_check">Opening time must be before closing time</div>
              <div class="row">
                <div class="col-md-12 form-group">
                  <label for="name">Phone number</label>
                  <input type="tel" id="phone_number" name="phone" class="form-control" data-pattern="^[0-9]{8}|[0-9]{10}|\+[0-9]{11}$" title="8 or 10 digit number, or in the format +61382938423" onchange="checkPattern(this)">
                </div>
              </div>
                <div class="alert alert-warning" style="display:none" id="phone_number_check">Invalid phone number. Please enter an 8 or 10 digit number, or in the format +61382938423</div>
              <div class="row">
                <div class="col-md-12 form-group">
                  <label for="name">Email Address</label>
                  <input type="email" id="email" name="email" class="form-control " data-pattern="^\S+@\S+\.\S+$" onchange="checkPattern(this)" maxLength=255>
                </div>
              </div>
                <div class="alert alert-warning" style="display:none" id="email_check">Invalid email</div>
              <div class="row">
                <div class="col-md-12 form-group">
                  <label for="name">Address</label>
                  <input type="text" id="address" name="address" class="form-control" data-pattern="^.{1,255}$" onchange="checkPattern(this)" maxLength=255>
                </div>
              </div>
                <div class="alert alert-warning" style="display:none" id="address_check">Please enter an address</div>
              <div class="row">
                <div class="col-md-12 form-group">
                  <label for="name">Business Description</label>
                  <input type="text" id="business_description" name="business_description" class="form-control" data-pattern="^.{1,255}$" onchange="checkPattern(this">
                </div>
              </div>
                <div class="alert alert-warning" style="display:none" id="business_description_check">Please enter a description</div>
              <div class="row">
                <div class="col-md-12 form-group">
                  <label for="name">Choose option/s that are applicable</label>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" name="events_cater" id="caterOption1" value="Wedding Services Catering">
                      Wedding Services Catering
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" name="events_cater" id="caterOption2" value="Corporate Catering">
                      Corporate Catering
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" name="events_cater" id="caterOption3" value="Cocktail Reception">
                      Cocktail Reception
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" name="events_cater" id="caterOption4" value="Sit-down Catering">
                      Sit-down Catering
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" name="events_cater" id="caterOption5" value="Petite Take-Away Buffet Catering">
                      Petite Take-Away Buffet Catering
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" name="events_cater" id="caterOption6" value="Bento Catering">
                      Bento Catering
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" name="events_cater" id="caterOption7" value="Buffet Catering">
                      Buffet Catering
                    </label>
                  </div>
                <div class="alert alert-warning" style="display:none" id="catering_check">Please select one or more</div>
                  <!--<div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" name="events_cater" id="caterOption8" value="1">
                      <input type="text" name="other_text" style="height:30px" placeholder="Other">
                    </label>
                  </div>-->
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 form-group">
                  <label for="name">Choose</label>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" name="delivery" id="deliveryChoice1" value="Deliver">
                      Deliver
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" name="delivery" id="deliveryChoice2" value="Pick-up">
                      Pick-up
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" name="delivery" id="deliveryChoice3" value="Prepare at venue">
                      Prepare at venue
                    </label>
                  </div>
                </div>
                <div class="alert alert-warning" style="display:none" id="delivery_check">Please select one or more</div>
              </div>
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="submit" value="Link-business" class="btn btn-primary">
                </div>
              </div>
            </form>

              <div class="row">
                 <div class="col-md-6 form-group">
                    <a href="/user" class="btn btn-primary"> Cancel </a>
                 </div>
              </div>

        </div>
      </div>
    </div>

	<!-- Form validation scripts -->
	<script>
	function checkPattern(element) {
		console.log("checking", element.id);

		var regex = new RegExp(element.dataset.pattern);
		console.log(regex);
		if (regex.test(element.value)) {
			console.log("ok");
			document.getElementById(element.id+"_check").style.display = "none";
			return true;
		}
		else {
			console.log("not ok");
			document.getElementById(element.id+"_check").style.display = "block";
			document.getElementById(element.id).focus();
			return false;
		}
	}		

	function checkValid() {
		if (checkTimes() && checkCatering() && checkDelivery()) {
			const elems = ["business_name", "phone_number", "email", "address", "business_description"];
			var i = 0;
			for (i=0; i<elems.length; i++) {
				var elemObj = document.getElementById(elems[i]);
				console.log(elemObj);
				if (!checkPattern(elemObj)) {
					return false;
				}
			}
			return true;
		}
		return false;
	}

	function checkTimes() {
		var openTimeObj = document.getElementById("opening_time");
		var closeTimeObj = document.getElementById("closing_time");
		if (checkPattern(openTimeObj) && checkPattern(closeTimeObj)) {
			var openTime = openTimeObj.value.split(':').map(num => parseInt(num, 10));
			var closeTime = closeTimeObj.value.split(':').map(num => parseInt(num, 10));
			console.log(openTime[0], openTime[1], closeTime[0], closeTime[1]);
			if (openTime[0] > closeTime[0] || (openTime[0] == closeTime[0] && openTime[1] >= closeTime[1])) {
				document.getElementById("valid_time_check").style.display = "block";
				document.getElementById("opening_time").focus();
				return false;
			}
			document.getElementById("valid_time_check").style.display = "none";
			return true;
		}
		return false;
	}
		
	function checkCatering() {
		var cateringList = document.getElementsByName("events_cater");
		var noCatering = 0;
		var i;
		for (i=0; i<cateringList.length; i++) {
			if (cateringList[i].checked) {
				noCatering++;
			}
		}
		if (noCatering == 0) {
			document.getElementById("catering_check").style.display = "block";
			document.getElementById("caterOption1").focus();
			return false;
		}
		else {
			document.getElementById("catering_check").style.display = "none";
			return true;
		}
	}

	function checkDelivery() {
		var noDelivery = 0;
		var deliveryList = document.getElementsByName("delivery");
		for (i=0; i<deliveryList.length; i++) {
			if (deliveryList[i].checked) {
				noDelivery++;
			}
		}
		if (noDelivery == 0) {
			document.getElementById("delivery_check").style.display = "block";
			document.getElementById("deliveryChoice1").focus();
			return false;
		}
		else {
			document.getElementById("delivery_check").style.display = "none";
			return true;
		}
	}

	$(document).ready(() => {		
		$("#open_time").keyup(checkTimes);
		$("#close_time").keyup(checkTimes);
		const elems = ["#business_name", "#phone_number", "#email", "#address", "#business_description"];
		var i = 0;
		for (i=0; i<elems.length; i++) {
			$(elems[i]).keyup(checkPattern);
		}
	});

	</script>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p class="copyright text-muted">Copyright &copy; Your Website 2018</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/clean-blog.min.js"></script>

  </body>

</html>
