<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>My Requests</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="css/clean-blog.min.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user">My Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/make_request">New Request</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/requests"><u>My Requests</u></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/link_business">Link Business</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/business">My Businesses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signout">Sign out</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/champagne.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>My Requests</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
          <div class="container h-100 d-flex justify-content-center">
            <form action="/requests">
              <input type="submit" class="btn" style="background-color:transparent" value="All" />
            </form>
            <form action="/bidded_requests">
              <input type="submit" class="btn" style="background-color:transparent" value="Bidded" />
            </form>
            <form action="non_bidded_requests">
              <input type="submit" class="btn" style="background-color:transparent" value="Non-bidded" />
            </form>
            <form action="completed_requests">
              <input type="submit" class="btn" style="background-color:transparent" value="Completed" />
            </form>
          </div>
          <br>
          <br>
          <div class="col-lg-8 col-md-10 mx-auto">
            <% for (var i=0; i < request_list.length; i++) { %>
              <div class="row">
                <form method="post" action="/individual_request_user">
                  <input type="submit" name="event_name" id="event_name" class="list-group-item list-group-item-action" value="<%=request_list[i]%>">
                </form>
              </div>
            <% } %>
          </div>
      </div>
    </div>



    <!--
    <input type="button" class="btn" style="background-color:transparent" value="All">
    <button type="button" id="all_btn" class="btn btn-default" style="background-color:transparent">Bidded</button>
    <button type="button" class="btn" style="background-color:transparent">Non-bidded</button>
    <button type="button" class="btn" style="background-color:transparent">Completed</button>
    <div class="container">
      <div class="container h-100 d-flex justify-content-center">
        <ul class="nav nav-tabs">
          <li><a  type="button" class="btn btn-primary btn-block">All</a></li>
          <li><a  type="button" class="btn btn-primary btn-block">Bidded</a></li>
          <li><a  type="button" class="btn btn-primary btn-block">Non-bidded</a></li>
          <li><a  type="button" class="btn btn-primary btn-block">Completed</a></li>
        </ul>
      </div>

      <br>
      <br>
      <br>
      <div class="col-md-2">
            <div class="vertical-menu">
              <a  type="button" class="btn btn-primary btn-block">All</a>
              <br>
              <a  type="button" class="btn btn-primary btn-block">Bidded</a>
              <br>
              <a  type="button" class="btn btn-primary btn-block">Non-bidded</a>
              <br>
              <a  type="button" class="btn btn-primary btn-block">Completed</a>
            </div>
          </div>
          <div class="col-md-1">
          </div>-->

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p class="copyright text-muted">Copyright &copy; Your Website 2018</p>
          </div>
        </div>
      </div>
    </footer>
    <script>
      document.getElementById("all_btn").addEventListener("click",
      function() {
        console.log("hi\n");
      });
    </script>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/clean-blog.min.js"></script>

  </body>

</html>
