<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= user %> Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="css/clean-blog.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css" rel="stylesheet"/>

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user">My Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/make_request"><u>New Request</u></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/requests">My Requests</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/link_business">Link Business</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/business">My Businesses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signout">Sign out</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/champagne.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Request Form</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
        <h3 class="mb-5">Request Catering.</h3>
        <form action="/post_request" method="post" onsubmit="return checkValidDateTimes()">
		<script>
			function checkValidDateTimes() {
				// date of event must be today or later
				// eventDate <= deadline  
				var dateToday = new Date();
				// currentDate string in yyyy-mm-dd
				var currentDate = dateToday.getFullYear() + "-" + dateToday.getMonth()+1 + "-" + dateToday.getDate();
				var currentTime = dateToday.getHours() + ":" + dateToday.getMinutes();
				var eventDate = document.getElementById("event_date").value;
				var eventDeadline = document.getElementById("event_deadline").value; 
            	var startTime = document.getElementById("event_start_time").value.split(':');
				if (startTime.length < 5) { startTime = "0" + startTime; }; // add leading 0
                var endTime = document.getElementById("event_end_time").value.split(':');
				if (endTime.length < 5) { endTime = "0" + endTime; };
				if  (eventDate < currentDate || (eventDate == currentDate && currentTime > startTime)) {
					alert("Starting date and time of the event has already passed!\n eventDate:" + eventDate + " currentDate:" + currentDate");
					return false;
				}
				else if (eventDeadline > eventDate) {
					alert("Deadline cannot be after the event");
					return false;
				}
				if (startTime >= endTime) {
					alert("Starting time must be earlier than Ending time");
					return false;
				}
				return true;
			}
		</script>
              <div class="row">
                <div class="col-md-12 form-group">
                  <label for="name">Event name</label>
                  <input type="text" id="event_name" name="event_name" class="form-control " required pattern=".{1-255}">
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 form-group">
                  <label for="name">Date of event</label>
                  <div class="input-group date">
                    <input data-provide="datepicker" data-date-format="yyyy-mm-dd" type="text" id="event_date" name="event_date" class="form-control" placeholder="YYYY-MM-DD">
                    <div class="input-group-addon">
                      <span class="glyphicon glyphicon-th"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 form-group">
                  <label for="name">Starting time of the event</label>
                  <input type="text" id="event_start_time" name="event_start_time" class="form-control " required pattern="([0-9]|(0|1)[0-9]|2[0-3]):[0-5][0-9]" placeholder="HH:MM" title="HH:MM - use 24 hour time">

                </div>
              </div>
              <div class="row">
                <div class="col-md-12 form-group">
                  <label for="name">Ending time of the event</label>
                  <input type="text" id="event_end_time" name="event_end_time" class="form-control " required pattern="([0-9]|(0|1)[0-9]|2[0-3]):[0-5][0-9]" placeholder="HH:MM" title="HH:MM - use 24 hour time">

                </div>
              </div>
              <div class="row">
                <div class="col-md-12 form-group">
                  <label for="name">Deadline for the request</label>
                  <div class="input-group date">
                    <input data-provide="datepicker" data-date-format="yyyy-mm-dd" type="text" id="event_deadline" name="event_deadline" class="form-control" placeholder="YYYY-MM-DD">
                    <div class="input-group-addon">
                      <span class="glyphicon glyphicon-th"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 form-group">
                  <label for="name">Suburb the event is going to be held in</label>
                  <input type="text" id="event_suburb" name="event_suburb" class="form-control " required pattern=".{1.255}">
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 form-group">
                  <label for="name">Type of event</label>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="event_type" id="event_type1" value="Wedding Services Catering">
                      Wedding Services Catering
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="event_type" id="event_type2" value="Corporate Catering">
                      Corporate Catering
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="event_type" id="event_type3" value="Cocktail Reception">
                      Cocktail Reception
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="event_type" id="event_type4" value="Sit-down Catering">
                      Sit-down Catering
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="event_type" id="event_type5" value="Petite Take-Away Buffet Catering">
                      Petite Take-Away Buffet Catering
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="event_type" id="event_type6" value="Bento Catering">
                      Bento Catering
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="event_type" id="event_type7" value="Buffet Catering">
                      Buffet Catering
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="event_type" id="event_type8" >
                      <input type="text" name="other" style="height:30px" placeholder="Other">
                    </label>
                  </div>
                </div>
              </div>



              <div class="row">
                <div class="col-md-12 form-group">
                  <label for="name">Approximate number of people catering required for</label>
                  <input type="text" id="noPeople" name="noPeople" class="form-control " required pattern="[1-9]+[0-9]{1,10}">
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 form-group">
                  <label for="name">Choose one</label>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="legendRadio" id="legendRadio1" value="Cook on province">
                      Cook on province
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="legendRadio" id="legendRadio2" value="Bring prepared food">
                      Bring prepared food
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="legendRadio" id="legendRadio3" value="Cook on province & Bring prepared food">
                      Both
                    </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 form-group">
                  <label for="name">Approximate Budget</label>
                  <input type="text" id="budget" name="budget" class="form-control " placeholder="$" required pattern="[1-9]?[0-9]{0,9}(\.[0-9]{2})?" title="Enter as a whole number or to two decimal places">
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 form-group">
                  <label for="name">Additional Information</label>
                  <input type="text" id="additional_info" name="additional_info" class="form-control " pattern=".{1-255}">
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="submit" value="Request" class="btn btn-primary">
                </div>
              </div>
            </form>
              <div class="row">
                 <div class="col-md-6 form-group">
                    <a href="/user" class="btn btn-primary"> Cancel </a>
                 </div>
              </div>
        </div>
      </div>
    </div>


    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p class="copyright text-muted">Copyright &copy; Your Website 2018</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/clean-blog.min.js"></script>

  </body>

</html>
