<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Search</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="css/clean-blog.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css" rel="stylesheet"/>

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/home">Home</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/champagne.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <div class="search-container">
                
                <form action="/search" method="post" onsubmit="return checkValid_search()">
                  <input type="text" id="search" name="search" placeholder="search for event names or business names" class="form-control">
                  <br>
                  <input type="submit" value="Search" class="btn btn-dark mt-2 mt-sm-0">
                  <div class="alert alert-warning" style="display:none" id="search_check">Please enter the key word</div>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </header>


    <div class="modal-body row">
      <div class = "col-md-6 text-center">
        <!-- Content goes here -->
        <form action="/search_requests" method="post" onsubmit="return checkValid_request()">
          <div class="col-md">
            <input type="text" id="search_event_name" name="search_event_name" placeholder="Search using event name" class="form-control ">
            <br>
            <div class="alert alert-warning" style="display:none" id="request_check">Please fill in one or more</div>
            <div class="input-group date">
              <input data-provide="datepicker" data-date-format="yyyy-mm-dd" type="text" id="search_event_date" name="search_event_date" class="form-control" placeholder="Date of event">
              <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
              </div>
            </div>
            <br>
            <div class="input-group date">
              <input data-provide="datepicker" data-date-format="yyyy-mm-dd" type="text" id="search_event_deadline" name="search_event_deadline" class="form-control" placeholder="Bidding deadline">
              <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
              </div>
            </div>
            <br>
            <input type="text" id="event_suburb" name="event_suburb" class="form-control " data-pattern="^.{1,255}$" placeholder="Suburb the event will be held in">
            <br>

            <div class="form-group">
              <div class="d-flex justify-content-between">
                <label for="name">Filter by type of event</label>
              </div>
              <div class="d-flex justify-content-between form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" name="search_events_type" id="search_caterOption1" value="Wedding Services Catering">
                  Wedding Services Catering
                </label>
              </div>
              <div class="d-flex justify-content-between form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" name="search_events_type" id="search_typeOption2" value="Corporate Catering">
                  Corporate Catering
                </label>
              </div>
              <div class="d-flex justify-content-between form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" name="search_events_type" id="search_typeOption3" value="Cocktail Reception">
                  Cocktail Reception
                </label>
              </div>
              <div class="d-flex justify-content-between form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" name="search_events_type" id="search_typeOption4" value="Sit-down Catering">
                  Sit-down Catering
                </label>
              </div>
              <div class="d-flex justify-content-between form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" name="search_events_type" id="search_typeOption5" value="Petite Take-Away Buffet Catering">
                  Petite Take-Away Buffet Catering
                </label>
              </div>
              <div class="d-flex justify-content-between form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" name="search_events_type" id="search_typeOption6" value="Bento Catering">
                  Bento Catering
                </label>
              </div>
              <div class="d-flex justify-content-between form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" name="search_events_type" id="search_typeOption7" value="Buffet Catering">
                  Buffet Catering
                </label>
              </div>
            </div>

            <div class="form-group">
              <div class="d-flex justify-content-between">
                <label for="name">Filter by..</label>
              </div>
              <div class="d-flex justify-content-between form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" name="search_legendRadio" id="search_legendRadio1" value="Cook on province">
                  Cook on province
                </label>
              </div>
              <div class="d-flex justify-content-between form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" name="search_legendRadio" id="search_legendRadio2" value="Bring prepared food">
                  Bring prepared food
                </label>
              </div>
              <div class="d-flex justify-content-between form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" name="search_legendRadio" id="search_legendRadio3" value="Cook on province & Bring prepared food">
                  Both
                </label>
              </div>
            </div>

            <input type="submit" value=" Advance Search Requests " class="btn btn-dark mt-2 mt-sm-0">

          </div>

        </form>
      </div>

      <div class = "col-md-6 text-center">
        <!-- Content goes here -->
        <form action="/search_business" method="post" onsubmit="return checkValid_business()">

          <div class="col-md">

            <input type="text" id="search_business_name" name="search_business_name" placeholder="Search using business name" class="form-control ">
            <br>
            <div class="alert alert-warning" style="display:none" id="business_check">Please fill in one or more</div>
            <div class="form-group">
              <div class="d-flex justify-content-between">
                <label for="name">Filter by catering services</label>
              </div>
              <div class="d-flex justify-content-between form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" name="search_events_cater" id="search_caterOption1" value="Wedding Services Catering">
                  Wedding Services Catering
                </label>
              </div>
              <div class="d-flex justify-content-between form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" name="search_events_cater" id="search_caterOption2" value="Corporate Catering">
                  Corporate Catering
                </label>
              </div>
              <div class="d-flex justify-content-between form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" name="search_events_cater" id="search_caterOption3" value="Cocktail Reception">
                  Cocktail Reception
                </label>
              </div>
              <div class="d-flex justify-content-between form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" name="search_events_cater" id="search_caterOption4" value="Sit-down Catering">
                  Sit-down Catering
                </label>
              </div>
              <div class="d-flex justify-content-between form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" name="search_events_cater" id="search_caterOption5" value="Petite Take-Away Buffet Catering">
                  Petite Take-Away Buffet Catering
                </label>
              </div>
              <div class="d-flex justify-content-between form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" name="search_events_cater" id="search_caterOption6" value="Bento Catering">
                  Bento Catering
                </label>
              </div>
              <div class="d-flex justify-content-between form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" name="search_events_cater" id="search_caterOption7" value="Buffet Catering">
                  Buffet Catering
                </label>
              </div>
            </div>

            <div class="form-group">
              <div class="d-flex justify-content-between">
                <label for="name">Filter by delivery options</label>
              </div>
              <div class="d-flex justify-content-between form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" name="search_delivery" id="search_deliveryChoice1" value="Deliver">
                  Deliver
                </label>
              </div>
              <div class="d-flex justify-content-between form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" name="search_delivery" id="search_deliveryChoice2" value="Pick-up">
                  Pick-up
                </label>
              </div>
              <div class="d-flex justify-content-between form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" name="search_delivery" id="search_deliveryChoice3" value="Prepare at venue">
                  Prepare at venue
                </label>
              </div>
            </div>

            <input type="submit" value=" Advance Search Business" class="btn btn-dark mt-2 mt-sm-0">
          </div>

        </form>
      </div>
    </div>

    <div class="modal-body row">
      <div class = "d-flex justify-content-between col-md-6 text-center">
        <label for="name">Place search results here</label>
      </div>
    </div>

    <!-- Main Content -->
<!--  <div class="container">
  	<div class="row">
      <div class="col-lg-8">
        <div class="search-container">

            <form action="/search" method="post">

              <div class="col-md-6">
                <input type="text" id="search_event_name" name="search_event_name" placeholder="Search using event name" class="form-control " required pattern=".{1,255}">
                <br>
                <div class="input-group date">
                  <input data-provide="datepicker" data-date-format="yyyy-mm-dd" type="text" id="search_event_date" name="search_event_date" class="form-control" placeholder="Date of event">
                  <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                  </div>
                </div>
                <br>
                <div class="input-group date">
                  <input data-provide="datepicker" data-date-format="yyyy-mm-dd" type="text" id="search_event_deadline" name="search_event_deadline" class="form-control" placeholder="Bidding deadline">
                  <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                  </div>
                </div>
                <br>
                <input type="submit" value=" Advance Search Requests " class="btn btn-dark mt-2 mt-sm-0">
              </div>

              <div class="col-md-6">

              </div>

            </form>

        </div>
      </div>
    </div>
  </div> -->

  <!-- Search validation scripts -->
  <script>
    function checkValid_search() {
      var key = document.getElementsByName("search");
      if (key.value == null) {
        document.getElementById("search_check").style.display = "block";
        //document.getElementById(search).focus();
        console.log("not filled");
        return false;
      }else{
        document.getElementById("search_check").style.display = "none";
        console.log("filled");
        return true;
      }
    }

    function checkValid_request(){
      var key = document.getElementByName("search_event_name");
      var date = document.getElementByName("search_event_date");
      var deadline = document.getElementByName("search_event_deadline");
      var suburb = document.getElementByName("event_suburb");
      var type = document.getElementByName("search_events_type");
      var cater = document.getElementByName("search_legendRadio");

      if (key.value == null && date.value == null && deadline.value == null && suburb.value == null && type.value == null && cater.value == null){
        document.getElementById("request_check").style.display = "block";
        return false;
      }else{
        document.getElementById("request_check").style.display = "none";
        return true;
      }

    }

    function checkValid_business(){
      var key = document.getElementByName("search_business_name");
      var type = document.getElementByName("search_events_cater");
      var delivery = document.getElementByName("search_delivery");

      if (key.value == null && type.value == null && delivery.value == null){
          document.getElementById("business_check").style.display = "block";
          return false;
      }else{
          document.getElementById("business_check").style.display = "none";
          return true;
      }


    }
    
  </script>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p class="copyright text-muted">Copyright &copy; Your Website 2018</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/clean-blog.min.js"></script>

  </body>

</html>

