<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SIGN UP</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="css/clean-blog.min.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="/" class="nav-link">Home</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/champagne.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>SIGN UP</h1>
              <span class="subheading">start requesting or bidding.</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <% if (error === 1) { %>
    <p>Username is in use, try something else!
    <% } else if (error === 2) { %>
    <p>Your email has been used, try something else or try login to your old account!
    <% } %>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
        <h3 class="mb-5">Sign-Up Form.</h3>
        <form action="/signup_submit" onsubmit="return checkPass()" method="post">
              <div class="row">
                <div class="col-md-12 form-group">
                  <label for="name">First Name</label>
                  <input type="text" id="first_name" name="first_name" class="form-control" required pattern="[a-zA-Z ,\.'-]{1,255}" title="allowed characters: letters, spaces and any of the following: , . - '">
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 form-group">
                  <label for="name">Last Name</label>
                  <input type="text" id="last_name" name="last_name" class="form-control" required pattern="[a-zA-Z ,\.'-]{1,255}" title="allowed characters: letters, spaces and any of the following: , . - '">
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 form-group">
                  <label for="name">Username</label>
                   <input type="text" id="username" name="username" class="form-control " required pattern="[A-Za-z0-9_-]{1,255}" title="allowed characters: letters, numbers, and any of the following: , . - _ '">
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 form-group">
                  <label for="name">Password</label>
                  <input type="password" id="password" name="password" class="form-control " required pattern=".{1,255}">
                </div>
                <div class="col-md-12 form-group">
                  <label for="name">Re-enter Password</label>
                  <input type="password" id="repassword" name="repassword" class="form-control " required pattern=".{1-255}">
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 form-group">
                  <label for="name">Phone Number</label>
                  <input type="tel" id="mobile_number" name="mobile_number" class="form-control" required pattern="[0-9]{8}|[0-9]{10}|\+[0-9]{11}" title="8 or 10 digit number, or in the format +61382938423">
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 form-group">
                  <label for="email">Email</label>
                  <input type="email" id="email" name="email" class="form-control " required pattern=".{1-255}">
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 form-group">
                  <script>
                    function checkPass() {
                      var pass = document.getElementById("password").value;
                      var repass = document.getElementById("repassword").value;
                      if (pass != repass) {
                        alert("Passwords don't match!");
                        return false;
                      }
                      return true;
                    }
                  </script>
                  <input type="submit" value="Sign-up" class="btn btn-dark mt-2 mt-sm-0">
                </div>
              </div>
            </form>

              <div class="row">
                 <div class="col-md-6 form-group">
                    <a href="/" class="btn btn-dark mt-2 mt-sm-0"> Cancel </a>
                 </div>
              </div>

        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p class="copyright text-muted">Copyright &copy; Your Website 2018</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/clean-blog.min.js"></script>

  </body>

</html>
